:root {
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
}

* {
    padding: 0 margin;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight:500;

}

.container {
    max-width: 60vw;
    /* border: 1px solid; */
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid rgba(255,255,255,.2);
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(255, 255, 255, .2);
    line-height: 40px;
}

.top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.notifications {
    display: flex;
    align-items: baseline;
}
.notifications h3{
    font-weight: 800
}
.default-text h4{
    color:var(--grayish-blue);
}
.default-text h4:hover{
    color:var(--blue);
    cursor:pointer;
}
.notifications label {
    color:white;
    background-color:var(--blue);
    margin: .4rem .4rem;
    border: 1px solid;
    padding:0 5px;    /* top-bottom, left-right*/
    border-radius: 5px;
}

.content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    row-gap: 1rem;
}

.message-unread {
    border: 1px solid;
    padding: 15px;
    grid-gap: 2rem;
    display: flex;
}

.user-image {}

.user-content {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: nowrap;
}

.message-read {
    font-weight: 500;
    font-size: 16px;
    border: 1px solid;
    padding: 15px;
    display: flex;
    grid-gap: 1rem;

}

.reaction {
    font-weight: 600;
}
